@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-display: "Nunito Sans Variable", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.1923 0.035 272.67);
  --foreground: oklch(0.911 0.0166 274.81);
  --primary: oklch(0.8368 0.1694 91.41);
  --primary-foreground: oklch(0.1923 0.035 272.67);
  --secondary: oklch(0.6319 0.0755 272.63);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.5735 0.0913 272.63);
  --muted-foreground: oklch(0.1923 0.035 272.67);
  --accent: oklch(0.2814 0.035 272.67);
  --accent-foreground: oklch(0.911 0.0166 274.81);
  --destructive: oklch(0.704 0.191 22.216);
  --border: transparent;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: transparent;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button[type="button"] {
    @apply cursor-pointer;
  }
  .container {
    @apply px-6;
  }
  .editable {
    --s: 0.1em; /* control the size of the underline */

    line-height: 1.1em;
    padding-bottom: calc(2.1 * var(--s));
    background:
      conic-gradient(from 135deg at top, var(--color-primary) 90deg, #0000 0)
      left 0 bottom var(--s) / calc(2 * var(--s)) var(--s) repeat-x,
      conic-gradient(from -45deg at bottom, var(--color-primary) 90deg, #0000 0)
      bottom 0 left var(--s) / calc(2 * var(--s)) var(--s) repeat-x;
    --_m:
      linear-gradient(var(--color-background) 0 0) content-box,
      linear-gradient(var(--color-background) 0 0) 50% / var(--_p, 100%)
      padding-box no-repeat;
    -webkit-mask: var(--_m);
    mask: var(--_m);
  }
}
